/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root .theme_light {
  --text-color: #353430;
  --bg-color: #fff1f7;
  --accent-color: #ff8dcb;
  --title-color: #ffc2e6;
  --border: 1px solid currentColor;
  --border-st: 1px solid rgb(50 49 45 / 0.4);
  --small: 10px;
  --large: 20px;
  --main-font: 'IBM Plex mono';
  --bg-image: url(../images/cover-image-light.png);
}

.theme_light .header__theme-menu {
  color: var(--text-color);
}
