/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root .theme_light {
  --title-color: #ffc2e6;
  --nav-color: #353430;
  --accent-color: #ff8dcb;
  --text-color: #353430;
  --subtitle-color: #353430;
  --list-element-color: #353430;
  --content-title-color: #353430;
  --bg-color: #fff1f7;
  --border-st: 1px solid rgb(50 49 45 / 0.4);
  --bg-image: url(../images/cover-image-light.png);
}
