/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  display: flex;
  flex-direction: column;
  padding-inline: var(--main-gap);
  color: var(--text-color);
  font-family: var(--main-font), monospace;
  font-weight: normal;
  font-size: 18px;
  line-height: 130%;
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-block-size: 100vb;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin-block: 60px;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  margin: var(--main-gap) 0;
  inline-size: 100%;
  block-size: calc(100vh - calc(2 * var(--main-gap)));
}

.header__theme-menu {
  justify-self: center;
  color: var(--nav-color);
  line-height: normal;
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
}

.header__theme-menu-button {
  border: var(--border);
  border-color: transparent;
  padding-inline: 13px;
  font-size: 18px;
  text-align: center;
  text-transform: lowercase;
  background-color: transparent;
}

.header__theme-menu-button_active {
  border: var(--border);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border: var(--border-st);
}

.header__theme-menu-button:focus-visible {
  border-block-end: var(--border);
}

.title-decor {
  background-color: var(--accent-color);
}

.title {
  color: var(--title-color);
  font-weight: bold;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__title {
  justify-self: start;
  align-self: center;
  margin-inline-start: -20px;
}

.header__subtitle {
  justify-self: end;
  align-self: center;
  color: var(--subtitle-color);
  font-weight: bold;
  inline-size: 50%;
}

.cover {
  position: relative;
}

.cover::before {
  content: '';
  position: absolute;
  border-inline-end: var(--border);
  border-block-start: var(--border);
  color: var(--nav-color);
  block-size: 25px;
  inline-size: 25px;
  inset-block-start: 0;
  inset-inline-end: 0;
}

.cover::after {
  content: '';
  position: absolute;
  border-inline-start: var(--border);
  border-block-end: var(--border);
  color: var(--nav-color);
  block-size: 25px;
  inline-size: 25px;
  inset-block-end: 0;
  inset-inline-start: 0;
}

.rec-icon {
  position: absolute;
  display: none;
  color: var(--accent-color);
  font-size: 18px;
  text-transform: uppercase;
  inset-block-start: 0;
  inset-inline-end: calc(25px + 2px);
  block-size: auto;
  inline-size: auto;
}

.rec-icon::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
  filter: drop-shadow(0 0 4px var(--accent-color));
  block-size: 9px;
  inline-size: 9px;
  inset-inline-start: calc(100% + 10px);
  inset-block-start: calc(50% - 9px / 2);
}

.content {
  display: grid;
  flex: 1;
}

.content__two-columns {
  grid-template-columns: 1fr 2fr;
  column-gap: 10px;
}

.content__list-item:not(:last-of-type) {
  margin-block-end: 20px;
}

.content__list-item__title {
  margin-block-end: 10px;
  color: var(--list-element-color);
  font-size: inherit;
}

.content__title {
  margin-block-end: 20px;
  color: var(--content-title-color);
  font-size: inherit;
  max-inline-size: 100%;
}

.content__three-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
}

.content__three-columns-title {
  max-inline-size: 30%;
}

.content__subtitle_light {
  font-weight: normal;
}

.content__subtitle:first-of-type {
  margin-block-start: 20px;
}

.content__gallery__title {
  color: var(--list-element-color);
  font-size: inherit;
}

.gallery__picture-set {
  display: grid;
  margin-block-start: var(--main-gap);
  grid-gap: var(--main-gap);
}

.gallery__picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__picture:nth-of-type(n + 1) {
  grid-column: 1/3;
  grid-row: 1/2;
}

.gallery__picture:nth-of-type(n + 2) {
  grid-column: 3/4;
  grid-row: 1/3;
}

.gallery__picture:nth-of-type(n + 3) {
  grid-column: 1/2;
  grid-row: 2/4;
}

.gallery__picture:nth-of-type(n + 4) {
  grid-column: 2/3;
  grid-row: 2/3;
}

.gallery__picture:nth-of-type(n + 5) {
  grid-column: 2/4;
  grid-row: 3/4;
}

.footer {
  display: grid;
  flex-shrink: 0;
  margin-block: var(--main-gap);
  inline-size: 100%;
  block-size: calc(100vb - 2 * var(--main-gap));
}

.footer__title {
  justify-self: center;
  align-self: center;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.text-link {
  outline: none;
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.text-link:hover {
  border-block-end: var(--border);
}

.text-link:focus-visible {
  border: var(--border);
}

/* Обводка кнопок и ссылок в состоянии focus обнулена в глобальных стилях */

@media (width <= 768px) {

  .header__theme-menu {
    justify-self: end;
    align-self: center;
  }

  .header__theme-menu-list {
    flex-direction: column;
  }

  .content__two-columns {
    column-gap: 20px;
  }

  .content__three-columns {
    grid-template-columns: 1fr;
  }
}

@media (width <= 576px) {
  
  :root {
    --main-gap: 10px;
    --small-gap: 5px;
  }

  .main-content {
    gap: 50px;
    margin-block: 40px;
  }

  .header__title {
    margin: auto;
  }

  .title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .header__subtitle {
    inline-size: 100%;
  }

  .content {
    display: block;
    margin-block-start: 0;
  }

  .content__three-columns {
    display: block;
  }

  .content__title {
    max-inline-size: 100%;
  }

  .gallery__picture-set {
    display: block;
  }

  .gallery__picture-set img:not(:last-of-type) {
    margin-block-end: var(--small-gap);
  }

  .footer {
    margin-block-start: 0;
  }
}
