/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --title-color: #ffc2e6;
  --nav-color: #353430;
  --accent-color: #ff8dcb;
  --text-color: #353430;
  --subtitle-color: #353430;
  --decor-color: #353430;
  --bg-color: #fff1f7;
  --border-st: 1px solid rgb(50 49 45 / 0.4);
  --border: 1px solid currentColor;
  --small-gap: 10px;
  --main-gap: 20px;
  --main-font: 'IBM Plex mono';
  --bg-image: url(../images/cover-image-light.png);
}

@media (width <= 576px) {

  :root {
    --main-gap: 10px;
    --small-gap: 5px;
  }
}
